<a href="https://colab.research.google.com/github/OgunmodedePeacePax/Brainwave_Matrix_Intern/blob/main/brainwave.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = pd.read_csv('aa.csv')
print(data.head())
print(data.info())

print(data.describe())

   Unnamed: 0 trans_date_trans_time            cc_num  \
0           0   2020-06-21 12:14:25  2291163933867244
1           1   2020-06-21 12:14:33  3573030041201292
2           2   2020-06-21 12:14:53  3598215285024754
3           3   2020-06-21 12:15:15  3591919803438423
4           4   2020-06-21 12:15:17  3526826139003047

                               merchant        category    amt   first  \
0                 fraud_Kirlin and Sons   personal_care   2.86    Jeff
1                  fraud_Sporer-Keebler   personal_care  29.84  Joanne
2  fraud_Swaniawski, Nitzsche and Welch  health_fitness  41.28  Ashley
3                     fraud_Haley Group        misc_pos  60.05   Brian
4                 fraud_Johnston-Casper          travel   3.19  Nathan

       last gender                       street  ...      lat      long  \
0   Elliott      M            351 Darlene Green  ...  33.9659  -80.9355
1  Williams      F             3638 Marsh Union  ...  40.3207 -110.4360
2     Lopez      F         9333 Valentine Point  ...  40.6729  -73.5365
3  Williams      M  32941 Krystal Mill Apt. 552  ...  28.5697  -80.8191
4    Massey      M     5783 Evan Roads Apt. 465  ...  44.2529  -85.0170

   city_pop                     job         dob  \
0    333497     Mechanical engineer  1968-03-19
1       302  Sales professional, IT  1990-01-17
2     34496       Librarian, public  1970-10-21
3     54767            Set designer  1987-07-25
4      1126      Furniture designer  1955-07-06

                          trans_num   unix_time  merch_lat  merch_long  \
0  2da90c7d74bd46a0caf3777415b3ebd3  1371816865  33.986391  -81.200714
1  324cc204407e99f51b0d6ca0055005e7  1371816873  39.450498 -109.960431
2  c81755dbbbea9d5c77f094348a7579be  1371816893  40.495810  -74.196111
3  2159175b9efe66dc301f149d3d5abf8c  1371816915  28.812398  -80.883061
4  57ff021bd3f328f8738bb535c302a31b  1371816917  44.959148  -85.884734

   is_fraud
0         0
1         0
2         0
3         0
4         0

[5 rows x 23 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 23 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             555719 non-null  int64
 1   trans_date_trans_time  555719 non-null  object
 2   cc_num                 555719 non-null  int64
 3   merchant               555719 non-null  object
 4   category               555719 non-null  object
 5   amt                    555719 non-null  float64
 6   first                  555719 non-null  object
 7   last                   555719 non-null  object
 8   gender                 555719 non-null  object
 9   street                 555719 non-null  object
 10  city                   555719 non-null  object
 11  state                  555719 non-null  object
 12  zip                    555719 non-null  int64
 13  lat                    555719 non-null  float64
 14  long                   555719 non-null  float64
 15  city_pop               555719 non-null  int64
 16  job                    555719 non-null  object
 17  dob                    555719 non-null  object
 18  trans_num              555719 non-null  object
 19  unix_time              555719 non-null  int64
 20  merch_lat              555719 non-null  float64
 21  merch_long             555719 non-null  float64
 22  is_fraud               555719 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 97.5+ MB
None
          Unnamed: 0        cc_num            amt            zip  \
count  555719.000000  5.557190e+05  555719.000000  555719.000000
mean   277859.000000  4.178387e+17      69.392810   48842.628015
std    160422.401459  1.309837e+18     156.745941   26855.283328
min         0.000000  6.041621e+10       1.000000    1257.000000
25%    138929.500000  1.800429e+14       9.630000   26292.000000
50%    277859.000000  3.521417e+15      47.290000   48174.000000
75%    416788.500000  4.635331e+15      83.010000   72011.000000
max    555718.000000  4.992346e+18   22768.110000   99921.000000

                 lat           long      city_pop     unix_time  \
count  555719.000000  555719.000000  5.557190e+05  5.557190e+05
mean       38.543253     -90.231325  8.822189e+04  1.380679e+09
std         5.061336      13.721780  3.003909e+05  5.201104e+06
min        20.027100    -165.672300  2.300000e+01  1.371817e+09
25%        34.668900     -96.798000  7.410000e+02  1.376029e+09
50%        39.371600     -87.476900  2.408000e+03  1.380762e+09
75%        41.894800     -80.175200  1.968500e+04  1.385867e+09
max        65.689900     -67.950300  2.906700e+06  1.388534e+09

           merch_lat     merch_long       is_fraud
count  555719.000000  555719.000000  555719.000000
mean       38.542798     -90.231380       0.003860
std         5.095829      13.733071       0.062008
min        19.027422    -166.671575       0.000000
25%        34.755302     -96.905129       0.000000
50%        39.376593     -87.445204       0.000000
75%        41.954163     -80.264637       0.000000
max        66.679297     -66.952026       1.000000

In [ ]:
missing_values = data.isnull().sum()
print(missing_values[missing_values > 0])

Series([], dtype: int64)

In [ ]:
print(data.columns)

categorical_columns = ['merchant', 'category', 'gender', 'city', 'job']

preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), ['amt', 'lat', 'long', 'city_pop', 'merch_lat', 'merch_long', 'transaction_hour', 'transaction_day', 'transaction_month']),
        ('cat', OneHotEncoder(), categorical_columns)
    ])

X = data.drop(columns=irrelevant_columns + ['is_fraud'], axis=1)
X_processed = preprocessor.fit_transform(X)

y = data['is_fraud']

print(X_processed[:5])

Index(['Unnamed: 0', 'cc_num', 'merchant', 'category', 'amt', 'first', 'last',
       'gender', 'street', 'city', 'state', 'zip', 'lat', 'long', 'city_pop',
       'job', 'dob', 'trans_num', 'unix_time', 'merch_lat', 'merch_long',
       'is_fraud', 'transaction_hour', 'transaction_day', 'transaction_month'],
      dtype='object')
  (0, 0)	-0.42446311221806937
  (0, 1)	-0.9043771740881724
  (0, 2)	0.6774510021991142
  (0, 3)	0.8165205378963228
  (0, 4)	-0.8941451215288134
  (0, 5)	0.6575859677205167
  (0, 6)	-0.11878895734708103
  (0, 7)	0.5065262988065559
  (0, 8)	-1.7735969317585956
  (0, 328)	1.0
  (0, 712)	1.0
  (0, 717)	1.0
  (0, 875)	1.0
  (0, 1842)	1.0
  (1, 0)	-0.2523372884703769
  (1, 1)	0.3511817243109503
  (1, 2)	-1.4724542640887257
  (1, 3)	-0.2926851956784882
  (1, 4)	0.17812626589640143
  (1, 5)	-1.436610108574763
  (1, 6)	-0.11878895734708103
  (1, 7)	0.5065262988065559
  (1, 8)	-1.7735969317585956
  (1, 600)	1.0
  (1, 712)	1.0
  :	:
  (3, 3)	-0.11137127956584522
  (3, 4)	-1.9094848014871928
  (3, 5)	0.6807165036094283
  (3, 6)	-0.11878895734708103
  (3, 7)	0.5065262988065559
  (3, 8)	-1.7735969317585956
  (3, 231)	1.0
  (3, 711)	1.0
  (3, 717)	1.0
  (3, 1482)	1.0
  (3, 1974)	1.0
  (4, 0)	-0.4223577926540687
  (4, 1)	1.1280918867527299
  (4, 2)	0.38000389640925203
  (4, 3)	-0.2899421007206838
  (4, 4)	1.2591387311244615
  (4, 5)	0.316509721897632
  (4, 6)	-0.11878895734708103
  (4, 7)	0.5065262988065559
  (4, 8)	-1.7735969317585956
  (4, 301)	1.0
  (4, 715)	1.0
  (4, 717)	1.0
  (4, 965)	1.0
  (4, 1763)	1.0

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

X_train, X_test, y_train, y_test = train_test_split(X_processed, y, test_size=0.2, random_state=42)

model = RandomForestClassifier()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00    110718
           1       0.98      0.56      0.71       426

    accuracy                           1.00    111144
   macro avg       0.99      0.78      0.86    111144
weighted avg       1.00      1.00      1.00    111144